{% extends 'header.html' %}
<!-- Format keep -->
{% block content %}
<!-- Format keep -->
{%load crispy_forms_tags %}
<!-- Format keep -->
<div class="container col-6 py-5">
    <div class="card">
        <div class="card-header bg-dark text-white text-center">
            <a
                href="{% url 'QLthietbi_app:render_trangchinh' %}"
                class="btn btn-light btn-sm float-left" data-tooltip="tooltip" data-placement="right" title="Trở lại"
                ><i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
            <h5 class="card-title">Tạo báo cáo sửa chữa cho thiết bị {{ pk }}</h5>
        </div>
        <div class="card-body">
            {% if baoCaoForm.errors %}
            <div class="alert alert-danger" role="alert">
              <strong>Oops!</strong> Có lỗi xảy ra, vui lòng thử lại.
              <ul>
                {% for field in baoCaoForm %} {% for error in field.errors %}
                <li><strong>{{ field.label }}</strong> {{ error }}</li>
                {% endfor %} {% endfor %}
              </ul>
            </div>
            {% endif %}
            <span class="align-middle text-center" style="display: block;">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <strong>Vui lòng nhập đầy đủ thông tin báo cáo</strong>
            </span>
            <hr />
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        {{ baoCaoForm.tieu_de|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ baoCaoForm.nguoi_bao_cao_disabled|as_crispy_field }}
                        {{ baoCaoForm.nguoi_bao_cao|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ baoCaoForm.ngay_bao_cao_disabled|as_crispy_field }}
                        {{ baoCaoForm.ngay_bao_cao|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ baoCaoForm.thiet_bi_disabled|as_crispy_field }}
                        {{ baoCaoForm.thiet_bi|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        {{ baoCaoForm.noi_dung|as_crispy_field }}
                    </div>
                </div>
                <hr />
                <button type="submit" value="Submit" class="btn btn-dark float-right">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Gửi
                  </button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(function () {
        $('[data-tooltip="tooltip"]').tooltip();
    });
</script>
{% endblock %}
