{% load static %} {%load crispy_forms_tags %}
<!-- Modal -->
<div
  class="modal fade"
  id="thietbiModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">THÊM THIẾT BỊ MỚI</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          <strong>Oops!</strong> Có lỗi xảy ra, vui lòng thử lại.
          <ul>
            {% for field in form %} {% for error in field.errors %}
            <li><strong>{{ field.label }}</strong> {{ error }}</li>
            {% endfor %} {% endfor %}
          </ul>
        </div>
        {% endif %}
        <a>
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          <strong>Vui lòng nhập đầy đủ thông tin thiết bị</strong>
        </a>
        <hr />
        <form
          action="{% url 'QLthietbi_app:render_themthietbi' %}"
          method="post"
          enctype="multipart/form-data"
          id="thietbiform"
          data-device-url="{% url 'QLthietbi_app:ajax_load_phong' %}"
        >
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-7 mb-0">
              {{ form.ten_thiet_bi|as_crispy_field }}
            </div>
            <div class="form-group col-md-5 mb-0">
              {{ form.loai_thiet_bi|as_crispy_field }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12 mb-0">
              {{ form.hinh_anh|as_crispy_field }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 mb-0">
              {{ form.tinh_trang|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
              {{ form.tang|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
              {{ form.phong|as_crispy_field }}
            </div>
            <div class="form-row">
              <div class="form-group col-md-4 mb-0">
                {{ form.don_vi_cung_cap|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ form.gia_mua|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ form.ngay_mua|as_crispy_field }}
              </div>
            </div>
          </div>
          {{ form.mo_ta|as_crispy_field }}
          <div class="modal-footer">
            <button type="submit" value="Submit" class="btn btn-dark">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              Lưu
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
