<div class="modal fade" id="confirmNhanSuaModal-{{ BaoCao.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmNhanSuaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmNhanSuaModalLabel">Xác nhận nhận sửa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn nhận sửa thiết bị này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                <a class="btn btn-dark" href="{% url 'QLthietbi_app:nhansua_baocao' BaoCao.id %}">Xác nhận </a>
            </div>
        </div>
    </div>
</div>
