body {
    padding-top: 56px;
    background-image: url("../imgs/login_1920x1080.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.sticky-offset {
    top: 56px;
}

.custom {
    width: 2-px !important;
}

table-responsive.dataTable thead .sorting:after,
table-responsive.dataTable thead .sorting:before,
table-responsive.dataTable thead .sorting_asc:after,
table-responsive.dataTable thead .sorting_asc:before,
table-responsive.dataTable thead .sorting_asc_disabled:after,
table-responsive.dataTable thead .sorting_asc_disabled:before,
table-responsive.dataTable thead .sorting_desc:after,
table-responsive.dataTable thead .sorting_desc:before,
table-responsive.dataTable thead .sorting_desc_disabled:after,
table-responsive.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}